<ion-view view-title="Account">
  <ion-content>
    <div class="list">
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input ng-model="user.username" type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">First Name</span>
        <input ng-model="user.firstName" type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">Last Name</span>
        <input ng-model="user.lastName" type="text">
      </label>
      <label class="item item-input">
        <span class="input-label">e-mail</span>
        <input ng-model="user.email" type="email">
      </label>
      <div class="padding">
        <button ng-click="save(user)" class="button button-block button-positive activated">
          Save
        </button>
      </div>
      <div class="padding">
        <button ng-click="logout()" class="button button-block button-negative activated">
          Logout
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>

